.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
/libraries/PhotoView/build
/libraries/ExtendedCalendarView/build/
/libraries/ExtendedCalendarView/bin/
*.iml